body{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
}

#post{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 2px solid rgb(174, 173, 173);
}